.level {
	text-transform: uppercase;
	font-weight: bold;
}

.header {
	display: flex;
	color: var(--color-white);
	justify-content: space-between;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 0px 10px;
}

.boardSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.autoCompleteSection {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}