.full-screen {
  height: 100%;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  flex: 1;
  color: var(--color-white);
  text-align: center;
  font-size: 2rem;
}

.button {
  padding: 12px;
  border: 0;
  font-size: 1rem;
  background-color: var(--color-blue);
  border-radius: 4px;
  color: var(--color-white);
}

.button:hover {
  filter: brightness(1.5);
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.numbers button {
  border: 0;
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 2px;
  background-color: var(--color-blue);
  color: var(--color-secondary);
  font-weight: bold;
  line-height: 20px;
}

.numbers button span {
  font-size: 1rem;
  color: #444;
}

.numbers button:active {
  filter: brightness(0.5);
}

@media only screen and (max-width: 600px) {
  .main-section {
    width: 100%;
  }

  .button {
    width: 80%;
  }

  .controls {
    margin-top: auto;
    margin-bottom: 80px;
  }
}