.select-label {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  gap: 5px;
}

.select {
  cursor: pointer;
}

.controls select {
  padding: 10px;
  font-size: 1rem;
  min-width: 200px;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.numbers button {
  border: 0;
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 2px;
  background-color: var(--color-blue);
  color: var(--color-secondary);
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

.numbers button span {
  font-size: 1rem;
  color: #444;
}

.numbers button:active {
  filter: brightness(0.5);
}

@media only screen and (max-width: 600px) {
  .full-screen {
    min-height: 100vh;
    background-color: var(--color-primary);
    align-items: normal;
    flex: 1;
  }

  .main-section {
    width: 100%;
  }

  .button,
  .select-label {
    width: 80%;
  }

  .controls {
    margin-top: auto;
    margin-bottom: 80px;
  }
}