:root {
  --color-primary: #0F0F0F;
  --color-secondary: #232D3F;
  --color-black: #000;
  --color-white: #F5F5F5;
  --color-light-green: #008170;
  --color-green: #005B41;
  --color-red: #E47373;
}

html,
body,
#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: var(--color-black);
  /* overflow: hidden; */
}

.full-screen {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  /* overflow: hidden; */
}

.main-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin-top: -30px;
}

.full-width {
  width: auto;
}

@media only screen and (max-width: 600px) {
  .full-screen {
    background-color: var(--color-black);
    flex: 1;
  }

  .full-width {
    width: 100%;
  }
}